<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/images/pokebola-logo.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="cabecalho">
            <a href="/">
                <img src="/images/pokemon-logo.svg" alt="Logo Pokemon" class="logo">
            </a>

            <nav>
                <p><a href="/">Início</a></p>
                <p><a href="/pokedex">Pokedex</a></p>
                <p><a href="/treinadores">Treinadores</a></p>
            </nav>
        </div>
    </header>
</body>
</html>