<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="/css/pokedex.css">
    <link rel="shortcut icon" href="/images/pokebola-logo.png" type="image/x-icon">
</head>
<body>
    <header>
        
        <div class="cabecalho">
            <a href="/">
                <img src="/images/pokemon-logo.svg" alt="Logo Pokemon" class="logo">
            </a>

            <nav>
                <p><a href="/">Início</a></p>
                <p><a href="/pokedex">Pokedex</a></p>
                <p><a href="/treinadores">Treinadores</a></p>
            </nav>
        </div>
    </header>

    <div class="body-container">
        <div class="imagem-pokedex"><img src="/images/pokedex.png" alt="Imagem da Pokédex" class="pokedex-image"></div>

        <div class="pokemon-list">
            <h1>Pokedex</h1>
            <h4><a href="add-pokemon">Adicionar +</a></h4>

            <div class="pokemons">
                <% pokemons.forEach(function(pokemon) { %>
                    <h4><a href="/pokemon/<%= pokemon.id %>"><%= pokemon.nome %></a></h4>
                <% }); %>
            </div>
        </div>
    </div>
</body>
</html>