<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="/css/pokedex.css">
    <link rel="shortcut icon" href="/images/pokebola-logo.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="cabecalho">
            <a href="/">
                <img src="/images/pokemon-logo.svg" alt="Logo Pokemon" class="logo">
            </a>

            <nav>
                <p><a href="/">Início</a></p>
                <p><a href="/pokedex">Pokedex</a></p>
                <p><a href="/treinadores">Treinadores</a></p>
            </nav>
        </div>
    </header>

    <div class="pokemon-list">
        <h1>Pokedex</h1>
        <ul>
            <% pokemons.forEach(function(pokemon) { %>
                <li>
                    <h4><a href="/pokemon/<%= pokemon.id %>"><%= pokemon.nome %> - <%= pokemon.tipo %></a></h4>
                </li>
            <% }); %>
        </ul>
    </div>
</body>
</html>