<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treinadores</title>
    <link rel="stylesheet" href="/css/treinadores.css">
    <link rel="shortcut icon" href="/images/pokebola-logo.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="cabecalho">
            <a href="/">
                <img src="/images/pokemon-logo.svg" alt="Logo Pokemon" class="logo">
            </a>

            <nav>
                <p><a href="/">Início</a></p>
                <p><a href="/pokedex">Pokedex</a></p>
                <p><a href="/treinadores">Treinadores</a></p>
            </nav>
        </div>
    </header>

    <div class="treinadores-list">
        <h1>Treinadores</h1>
        <h4><a href="add-treinador">Adicionar +</a></h4>

        <div class="treinadores">
            <% treinadores.forEach(function(treinador) { %>
                <h4><a href="/treinador/<%= treinador.id %>"><%= treinador.nome %></a></h4>
            <% }); %>
        </div>
    </div>
</body>
</html>