@font-face {
    font-family: 'Pokemon Hollow';
    src: url('/fonts/Pokemon-hollow.ttf') format('truetype');
}

@font-face {
    font-family: 'Pokemon Solid';
    src: url('/fonts/Pokemon-solid.ttf') format('truetype');
}

body {
    font-family: 'Pokemon Hollow', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}

.pokemon-list {
    text-align: center;
    width: 40%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e3e3e3; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.pokemon-list h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.pokemon-list ul {
    list-style-type: none;
    padding: 0;
}

.pokemon-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.pokemon-list a {
    text-decoration: none; /* Remove o sublinhado */
    color: #000; /* Cor do link padrão */
    background-color: #f0f0f0; /* Cor de fundo do link */
    padding: 10px 15px; /* Espaçamento interno */
    border-radius: 8px; /* Bordas arredondadas */
    transition: background-color 0.3s ease; /* Transição suave para hover */
}

.pokemon-list a:visited {
    color: #000; /* Cor do link visitado (igual ao link normal) */
}

.pokemon-list a:hover {
    background-color: #ccc; /* Cor de fundo no hover */
    color: #fff; /* Cor do texto no hover */
}

.pokemon-list li:last-child {
    border-bottom: none;
}

.pokemon-form {
    width: 40%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e3e3e3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-form h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}

.pokemon-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.pokemon-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pokemon-form button {
    font-family: 'Pokemon Hollow';
    font-size: 16px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pokemon-form button:hover {
    background-color: #555;
}
