@font-face {
    font-family: 'Pokemon Hollow';
    src: url('/fonts/Pokemon-hollow.ttf') format('truetype');
}

@font-face {
    font-family: 'Pokemon Solid';
    src: url('/fonts/Pokemon-solid.ttf') format('truetype');
}

.logo{
    height: auto;
    width: 250px;
}

header {
    border: 2px solid #219ebc;
    background-color: #8ecae6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;   
}

nav {
    display: flex;
}

nav a {
    font-family: 'Pokemon Solid';
    font-size: 24px;
    margin-left: 20px;
    padding-right: 50px;
    text-decoration: none;
    color: #ffb703;
    text-shadow: 
        -1px -1px 0 #023047,
         1px -1px 0 #023047,
        -1px  1px 0 #023047,
         1px  1px 0 #023047;
}

body {
    font-family: 'Pokemon Hollow', sans-serif;
    background-color: #d0dee5;
    color: #333;
    margin: 0;
    padding: 0;
}

.pokemon-details {
    text-align: center;
    width: 40%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e3e3e3; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.pokemon-details h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.pokemon-details p {
    font-size: 18px;
    color: #666;
}

.pokemon-details a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.pokemon-details a:hover {
    background-color: #555;
}

